<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DirectScale" value="https://www.myget.org/F/directscale/auth/b55562c3-e7c2-45e0-bce3-c582e67071e6/api/v3/index.json" protocolVersion="3" />
  </packageSources>
  <activePackageSource>
	<add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>